---
layout: default
---

<article id="home">
  {% include toggler.html %}
  <main align="center">
    {{ content }}

    <br>
    <article id="about">
      <h2>Languages</h2>
      <div class="image-row">
        <img src="../assets/svg/C++-(CPlusPlus).svg" alt="C++" width="100" height="100">
        <img src="../assets/svg/TypeScript.svg" alt="TypeScript" width="100" height="100">
        <img src="../assets/svg/Go.svg" alt="Go" width="100" height="100">
        <img src="../assets/svg/Bash.svg" alt="Bash" width="100" height="100">
        <img src="../assets/svg/Python.svg" alt="Python" width="100" height="100">
      </div>

      <h2>Tech & Frameworks</h2>
      <div class="image-row">
        <img src="../assets/svg/Node.js.svg" alt="Node.js" width="100" height="100">
        <img src="../assets/svg/AWS.svg" alt="Amazon Web Services" width="100" height="100">
        <img src="../assets/svg/HashiCorp-Terraform.svg" alt="Terraform" width="100" height="100">
        <img src="../assets/svg/OpenGL.svg" alt="OpenGL" width="100" height="100">
      </div>

      <h2>Tools</h2>
      <div class="image-row">
        <img src="../assets/svg/Git.svg" alt="Git" width="100" height="100">
        <img src="../assets/svg/Insomnia.svg" alt="Insomnia" width="100" height="100">
        <img src="../assets/svg/Jira.svg" alt="Jira" width="100" height="100">
        <img src="../assets/svg/Confluence.svg" alt="Confluence" width="100" height="100">
        <img src="../assets/svg/Swagger.svg" alt="Swagger" width="100" height="100">
      </div>
    </article>
  </main>
  
  {% include footer.html %}
</article>
